<div class="center2">
<p id="notice"><%= notice %></p>
<h1>Todo items</h1>



<div class='js-list'>
	<h2>ToDo</h2>
	<div class='new-item'>
   	<%= render 'new' %>

		<% @todos.each do |t| %>

			<li><%= check_box_tag  "completed[]", t.id %>
			 <% if t.completed == true %>

			    
			    <strike><%= t.name%></strike></li>

			 <% else %>

			   <%= t.name%></li>

			  <% end %>

		<% end%>
		<%= submit_tag("Complete Todos", :class=>"btn btn-success") %>
    </div>

</div>