<h1>New Item</h1>
<%= form_for @todo, :url => todoos_path(@todo) do |f| %>
	<%= f.label :name %>: <%= f.text_field :name %>
	<%= f.hidden_field :done, :value => false %>
	<%= f.submit "Add to todo" %>
<% end %>

<%= link_to 'Back', todoos_path %>
